<div class="customer-container">
  <input class="barcode" type="text" placeholder="Scan or Enter Barcode" />
  <input class="select-customer-btn" type="button" value="Select Customer" (click)="openSelectCustomerModal()"/>

  <button class="add-btn">+</button>
</div>
<div class="customer-info">
  <div>
    <span class="customer-info-row-1 customer-info-col-1">
      <label class="info-label info-label-col-1">Customer Name: </label>
      <div class="info-container">
        {{customer.getName()}}
      </div>
    </span>
    <span class="customer-info-row-1 customer-info-col-2">
      <label class="info-label info-label-col-2">ID: </label>
      <div class="info-container">
        {{customer.id}}
      </div>
    </span>
  </div>
  <div>
    <span class="customer-info-row-2 customer-info-col-1">
      <label class="info-label info-label-col-1">Phone number: </label>
      <div class="info-container">
        {{customer.phone}}
      </div>
    </span>
    <span class="customer-info-row-2 customer-info-col-2">
      <label class="info-label info-label-col-2">Points: </label>
      <div class="info-container">
        {{customer.points}}
      </div>
    </span>
  </div>
</div>

<div class="inventory-container">
  <table>
    <thead>
      <tr>
        <th align="left" class="th-1" width="90px">Qty</th>
        <th align="left" width="209px">Item Info</th>
        <th align="left" width="156px">Discount %</th>
        <th align="left" width="90px">Unit</th>
        <th align="left" width="67px">Amount</th>
        <th align="left" width="42px"></th>
        <th align="left" width="42px"></th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let invoiceItem of invoiceItemList">
        <td width="90px">{{invoiceItem.getQuantity()}}</td>
        <td width="209px">{{invoiceItem.getProductDescription()}}</td>
        <td width="156px">{{invoiceItem.getDiscount()}}</td>
        <td width="90px">${{invoiceItem.getProductPrice() | number:'.2'}}</td>
        <td width="67px">${{invoiceItem.getAmountWithoutTax() | number:'.2'}}</td>
        <td width="42px">
          <a>
            <img src="../../../assets/images/edit.svg" height="17px" width="17px"/>
          </a>
        </td>
        <td width="42px">
          <a>
            <img src="../../../assets/images/bin.svg" height="21px" width="17px" (click)="removeInvoiceItem(invoiceItem)"/>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="total-info">
      <div>
        <span style="font-size: 20px;">Sub Total</span>
        <span style="font-size: 20px; float: right; ">${{getSubTotal() | number: '.2'}}</span>
      </div>
      <div style="margin-top: 5px;">
        <span style="font-size: 20px;">Tax</span>
        <span style="font-size: 20px;float: right;">${{getTaxTotal() | number: '.2'}}</span>
      </div>
      <hr>
      <div>
          <span style="font-size: 24px;">Grand Total</span>
          <span style="font-size: 24px;float: right;">${{getGrandTotal() | number: '.2'}}</span>
      </div>
  </div>
</div>
<textarea name="notes" id="notes" cols="" rows="" placeholder="Order Notes:"></textarea>

<div class="btns-container">
  <input class="main-btn cancel" type="button" value="Cancel" (click)="openCancelTransactionModal()">
  <input class="main-btn void" type="button" value="Void">
  <input class="main-btn continue" type="button" value="Continue" (click)="openPaymentMethodModal()">
</div>

<div class="modal-container" [ngStyle]="{'display': displayPaymentModal ? 'flex' : 'none'}">
  <div class="modal" id="payment-method-modal">
    <div id="close-btn-container" (click)="closePaymentMethodModal()">
      <img class="disable-select" id="close-img" src="../../assets/images/close.svg"/>
    </div>
    <div id="payment-method-content">
      <div class="modal-title">Payment Method</div>
      <div>
        <button class="payment-btn" id="cash-btn" (click)="openCashAmountModal(); closePaymentMethodModal()">
          Cash
          <img class="payment-img" src="../../assets/images/cash.svg" />
        </button>
      </div>
      <div>
        <button class="payment-btn" id="credit-card-btn">
          Credit Card
          <img class="payment-img" src="../../assets/images/credit-card.svg"/>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal-container" id="cancel-modal-container" [ngStyle]="{'display': displayCancelTransactionModal ? 'flex': 'none'}">
  <div class="modal" id="cancel-modal">
    <div id="cancel-modal-content">
      <div class="modal-title">Cancel Customer Transaction?</div>
      <div id="cancel-btn-container">
        <button class="cancel-modal-btn" id="cancel-no-btn" (click)="closeCancelTransactionModal()">No</button>
        <button class="cancel-modal-btn" id="cancel-yes-btn" (click)="cancelCustomerTransaction()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!-- [ngStyle]="{'display': displayCashAmountModal? 'flex': 'none'}" -->

<app-cash-input-modal [isOpen]="displayCashAmountModal" (closeModalEvent)="closeCashAmountModal()" [total]="getGrandTotal()"></app-cash-input-modal>

<app-select-customer-modal [isOpen]="displaySelectCustomerModal" (closeModalEvent)="closeSelectCustomerModal()"></app-select-customer-modal>

