<div class="customer-container">
  <input class="barcode" type="text" placeholder="Scan or Enter Barcode" />
  <input class="select-customer-btn" type="button" value="Select Customer" />

  <button class="add-btn">+</button>
</div>
<div class="customer-info">
  <div>
    <span class="customer-info-row-1 customer-info-col-1">
      <label class="info-label info-label-col-1">Customer Name: </label>
      <div class="info-container">
        Aniss Fadel
      </div>
    </span>
    <span class="customer-info-row-1 customer-info-col-2">
      <label class="info-label info-label-col-2">ID: </label>
      <div class="info-container">
        12
      </div>
    </span>
  </div>
  <div>
    <span class="customer-info-row-2 customer-info-col-1">
      <label class="info-label info-label-col-1">Phone number: </label>
      <div class="info-container">
        1(718)368-1234
      </div>
    </span>
    <span class="customer-info-row-2 customer-info-col-2">
      <label class="info-label info-label-col-2">Points: </label>
      <div class="info-container">
        200
      </div>
    </span>
  </div>
</div>

<div class="inventory-container">
  <table>
    <thead>
      <tr>
        <th align="left" class="th-1" width="90px">Qty</th>
        <th align="left" width="209px">Item Info</th>
        <th align="left" width="156px">Discount %</th>
        <th align="left" width="90px">Unit</th>
        <th align="left" width="67px">Amount</th>
        <th align="left" width="42px"></th>
        <th align="left" width="42px"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width="90px">2</td>
        <td width="209px">Chicken</td>
        <td width="156px">0</td>
        <td  width="90px">$5.00</td>
        <td  width="67px">$10.00</td>
        <td width="42px">
          <a>
            <img src="../../../assets/images/edit.png" height="17px" width="17px"/>
          </a>
        </td>
        <td width="42px">
          <a>
            <img src="../../../assets/images/bin.png" height="21px" width="17px"/>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Chicken</td>
        <td>0</td>
        <td>$5.00</td>
        <td>$10.00</td>
        <td>
          <a>
            <img src="../../../assets/images/edit.png" height="17px" width="17px"/>
          </a>
        </td>
        <td>
          <a>
            <img src="../../../assets/images/bin.png" height="21px" width="17px"/>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Chicken</td>
        <td>0</td>
        <td>$5.00</td>
        <td>$10.00</td>
        <td>
          <a>
            <img src="../../../assets/images/edit.png" height="17px" width="17px"/>
          </a>
        </td>
        <td>
          <a>
            <img src="../../../assets/images/bin.png" height="21px" width="17px"/>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Chicken</td>
        <td>0</td>
        <td>$5.00</td>
        <td>$10.00</td>
        <td>
          <a>
            <img src="../../../assets/images/edit.png" height="17px" width="17px"/>
          </a>
        </td>
        <td>
          <a>
            <img src="../../../assets/images/bin.png" height="21px" width="17px"/>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Chicken</td>
        <td>0</td>
        <td>$5.00</td>
        <td>$10.00</td>
        <td>
          <a>
            <img src="../../../assets/images/edit.png" height="17px" width="17px"/>
          </a>
        </td>
        <td>
          <a>
            <img src="../../../assets/images/bin.png" height="21px" width="17px"/>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Chicken</td>
        <td>0</td>
        <td>$5.00</td>
        <td>$10.00</td>
        <td>
          <a>
            <img src="../../../assets/images/edit.png" height="17px" width="17px"/>
          </a>
        </td>
        <td>
          <a>
            <img src="../../../assets/images/bin.png" height="21px" width="17px"/>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Chicken</td>
        <td>0</td>
        <td>$5.00</td>
        <td>$10.00</td>
        <td>
          <a>
            <img src="../../../assets/images/edit.png" height="17px" width="17px"/>
          </a>
        </td>
        <td>
          <a>
            <img src="../../../assets/images/bin.png" height="21px" width="17px"/>
          </a>
        </td>
      </tr>

    </tbody>
  </table>
  <div class="total-info">
      <div>
        <span style="font-size: 20px;">Sub Total</span>
        <span style="font-size: 20px; float: right; ">$22.98</span>
      </div>
      <div style="margin-top: 5px;">
        <span style="font-size: 20px;">Tax</span>
        <span style="font-size: 20px;float: right;">$0.00</span>
      </div>
      <hr>
      <div>
          <span style="font-size: 24px;">Grand Total</span>
          <span style="font-size: 24px;float: right;">$22.98</span>
      </div>
  </div>
</div>
<textarea name="notes" id="notes" cols="" rows="" placeholder="Order Notes:"></textarea>

<input class="main-btn cancel" type="button" value="Cancel">
<input class="main-btn void" type="button" value="Void">
<input class="main-btn continue" type="button" value="Continue">




