<div class="category">
  <h1 class="category-title">Category</h1>
  <div class="category-card">
    <h2>Retail</h2>
  </div>
  <div class="category-card">
    <h2>Wash, Dry, and Fold</h2>
  </div>
  <div class="category-card">
    <h2>Bedding</h2>
  </div>
  <div class="category-card">
    <h2>Dry Cleaning</h2>
  </div>
</div>

<div id="products-main-container">
  <input type="search" id="search-product" placeholder="Filter product search"/>
  <img id="search-img" src="../../../assets/images/search.png" width="17.5px" height="17.5px" />
  <div id="products-container">
      <div class="product-card">
        <p id="product-title">Tide detergent 2.72L oz</p>
        <img id="product-img" src="../../../assets/images/NoPath - Copy (2).png" />
        <p id="product-price">$10.00</p>
      </div>
  </div>
</div>

