.category {
  display: inline-block;
  width: 252px;
  height: 100%;
  margin-left: 9px;
  margin-right: 9px;
  border-right: 1px solid #707070;
}
.category-title {
  text-align: center;
  margin: 0 0 10px 0;
  font-size: 30px;
}
.category-card {

  width: 239px;
  height: 122px;
  margin-bottom: 16px;
  background-color: #C8F0FF;
  border-radius: 11px;
  border: 1px solid #707070;
  display: flex;
  align-items:  center;
  justify-content: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.53);
}

.category-card h2 {

  text-align: center;

}

#products-main-container {
  position: absolute;
  display: inline-block;
  width: 854px;
}

#search-product {
  position: absolute;
  width: 94.5%;
  height: 37px;
  border: 1px solid #707070;
  border-radius: 6px;
  color: black;
  font-size: 15px;
  padding-left:44px;
  outline: none;
}
#add-btn{
  float:right;
  width: 5%;
  height: 37px;
  font-size: 20px;
}

#search-img {
  position: absolute;
  margin: 10px 14px;
}


:-ms-input-placeholder{
  font-style: italic;
}

::-ms-input-placeholder {
  font-style: italic;
}

::placeholder {
  font-style: italic;
}

#products-container {
  overflow: auto;
  height: 880px;
  margin-top: 54px;
}

.product-card {
  position: relative;
  display: inline-block;
  width: 128px;
  height: 164px;
  background-color: white;
  border: 1px solid #707070;
  border-radius: 12px;
  margin-right: 8px;
  margin-bottom: 8px;
  justify-content: center;
  cursor: pointer;
}

#product-title, #product-price {

  text-align: center;
  margin: 5px;
  font-size: 14px;
  font-weight: 700;
}

#product-title {
  height: 25%;
}

#product-img {
  height: 52%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#product-price {
  font-style: italic;
  height: 23%;
}

.product-card:hover {
  background-color: #C8F0FF;
}



