<div class="navbar">
  <input type="image" src="../assets/images/menu.png"/>
  <ul class="nav-list">
    <li><a routerLinkActive="active" routerLink="sale">New Sale</a></li>
    <li><a routerLinkActive="active" routerLink="clean">Clean</a></li>
    <li><a routerLinkActive="active" routerLink="ready">Ready</a></li>
    <li style="margin-right: 0;"><a routerLinkActive="active" routerLink="pickups">Pickups</a></li>
  </ul>
  <button>Register Customer</button>
</div>
<div id="content-container">
  <router-outlet ></router-outlet>
</div>
